* {
  margin: 0;
  padding: 0;
}

.card,
.card-hidden {
  -moz-border-radius: 10vh;
  -ms-border-radius: 10vh;
  -o-border-radius: 10vh;
  -webkit-border-radius: 10vh;
  align-items: center;
  border-radius: 5vh;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5vh;
  width: 20vw;
  padding: 1vw;
}

.card.hidden-card-style {
  background: #2a2a2a !important;
  border: 2px solid #444;
  box-shadow: none;
}

.card:hover {
  box-shadow: 0 0 20px #4f9;
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
  transition: all 0.5s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.name,
.info {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: auto;
  width: 100%;
  min-width: 250px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10vh;
  -webkit-border-radius: 10vh;
  -moz-border-radius: 10vh;
  -ms-border-radius: 10vh;
  -o-border-radius: 10vh;
}

.info {
  min-height: 20vh;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.avatar {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  height: 20vh;
  justify-content: space-evenly;
  width: 90%;
}

.avatar img {
  height: 60px;
  width: 50%;
}

.avatar img:hover {
  animation-name: rote;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -ms-transform: scale(5);
  -o-transform: scale(5);
}

.stats {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2vw;
  margin-top: 1vw;
  border-radius: 500%;
  -webkit-border-radius: 500%;
  -moz-border-radius: 500%;
  -ms-border-radius: 500%;
  -o-border-radius: 500%;
}

.statsP {
  color: whitesmoke;
}

@keyframes rote {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

.name h1 {
  color: black;
  text-align: center;
}