.navBar {
  display: inline;
  width: 100vw;
}

.container {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.containerBanner {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

.containerBanner img {
  width: 90%;
  height: auto;
  max-height: 90%;
}

ul {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2vh;
  background-color: red;
  height: auto;
  align-items: center;
}

li {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 7vw;
  text-align: center;
}

li:first-child {
  width: auto;
  margin-left: 2vw;
}

li:last-child {
  margin-right: 2vw;
}

a,
button {
  color: whitesmoke;
  display: flex;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: rgb(126, 103, 103)
}

.Types a {
  color: whitesmoke;
  display: flex;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  color: aliceblue;
  text-align: center;
}

.nav-toggle-btn {
  display: none;
  margin: 0;
}


/* Dropdown styles */
.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-btn {
  background: none;
  border: none;
  color: whitesmoke;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 5px;
  flex-direction: column;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content a {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #555;
  color: #ffcb05;
}

/* Mobile adjustments */
@media screen and (max-width:780px) {
  ul {
    flex-direction: column;
    height: auto;
    display: none;
  }

  li {
    margin: 2vw;
    width: auto;
  }

  .Types a {
    font-size: larger;
  }

  button {
    display: flex;
    height: auto;
    padding: 2vh;
    width: 100vw;
    background-color: red;
    border: 1px solid rgb(80, 1, 1);
    margin: 2vw;
    justify-content: center;
  }

  /* Type Grid for Dropdown */
  .type-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 300px;
  }

  /* Mobile Dropdown */
  .dropdown {
    flex-direction: column;
    width: 100%;
  }

  .dropdown-content {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    box-shadow: none;
    background-color: #222;
  }
}