.navBar{
  display: inline;
  width: 100vh;
}

.container{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}
li {
  display: flex;
  justify-content: center;
  list-style: none;
}
a, button{
  color: black;
  display: flex;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
}
